﻿@{
    ViewBag.Title = "Home Page";
}

<a href="#" class="btn btn-primary btn-lg">Botón</a>

@section Scripts {
    <script type="text/javascript">
        $(".btn").click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            $.ajax({
                url: "@Url.Action("Validation", "Home")",
                data: { message: 'Error de validación' },
                type: "post",
                success: function (data) {
                    if (data != '') {
                        alert(data);
                    }
                },
                error: function (request, status, error) {
                    alert("Error in Ajax call");
                }
            });

        });
    </script>
}